.center-block.btn.btn-warning(ng-tap='go_next_page()' ) This is activity list page

%ul.list-group
  %li.list-group-item.active
    Goods
    .badge &nbspPrice&nbsp
  %li.list-group-item( ng-repeat='device in devices' ng-tap='go_next_page()' )
    {{device.name}}
    .badge {{device.price}}

%h1 hu lu hu lu hu lu
%h2 da hu lu da hu lu
%h3 kuai da hu lu
%h4 wo bu da hu lu
%h5 hu lu shi wo